.dropdown button{
    background-color: orange;
    border: none;
    border-radius: 20px;
    padding: 4px;
    width: 100px;
    cursor: pointer;

}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
}

.dropdown .content{
  background-color: yellow;
  position: absolute;
}